ansible<2.10
diskimage-builder
docker
tox
# The following packages are constrained to versions compatible with Openstack 'victoria' release
kolla<12.0.0
kolla-ansible<12.0.0
python-openstackclient<5.5.0
python-heatclient<2.3.0
python-neutronclient<7.3.0
python-monascaclient<2.3.0
python-octaviaclient<2.3.0
python-senlinclient<2.2.0
